argh
asgiref
certifi
charset-normalizer
dj-config-url
dj-database-url
dj-static
Django
django-filebrowser
django-grappelli
django-pagination-bootstrap
django-tinymce
django-tinymce-4
https://github.com/evernote/evernote-sdk-python3/archive/master.zip
gunicorn
httplib2
idna
ldap3
mysqlclient
oauth2
oauthlib
olefile
pathtools
pdfkit
Pillow
psycopg2
pyasn
pyasn1
pyparsing
PyPDF2
https://github.com/ricardopimentel/pypdfocr3/archive/master.zip
python-decouple
pytz
PyYAML
reportlab
requests
requests-oauthlib
six
sqlparse
static3
typing_extensions
tzdata
watchdog