<meta charset="UTF-8"/>
{% extends "base.html" %}
{% load impressoras_extras %}
{% load staticfiles %}
{% load pagination_tags %}
{%block titulo%}{{title}}{%endblock%}

{%block top%}
	{% if request.session.nome%}
			<h1>{{request.session.nome}}</h1>
			<a href="/jasmine/logout/"><h2>Sair</h2></a>
		{%endif%}
{%endblock%}

{%block menu%}
	{% if not request.session.userl %}
		<meta http-equiv="refresh" content="0; url=/jasmine/login/">
	{%else%}
		{% if request.session.menu%}
			{%for item in request.session.menu%}
				{% if item == 'ADMINISTRAÇÃO' %}
					<li>
						<div class="dropdown-menu">
							<a href="/{{ request.session.url|get_at_index:forloop.counter0 }}">
								<div class="item-menu-selec">
									<img src="{% static 'images/'%}{{request.session.img|get_at_index:forloop.counter0}}"  alt="" />
									<p>{{item}}</p>							
								</div>
							</a>
							<div class="dropdown-content-menu">
								<div class="dropdown-content-item-menu"><img src="{% static 'images/admin24.png' %}"><a onclick="mostrar('modal_fullscreen')" href="/jasmine/admin/digi">Conf. de Digitalizações</a></div>
								<div class="dropdown-content-item-menu"><img src="{% static 'images/admin24.png' %}"><a onclick="mostrar('modal_fullscreen')" href="/jasmine/admin/ad">Conf. do Active Directory</a></div>
								<div class="dropdown-content-item-menu"><img src="{% static 'images/admin24.png' %}"><a onclick="mostrar('modal_fullscreen')" href="/jasmine/admin/tutoriais/add">Criar Tutorial</a></div>
								<div class="dropdown-content-item-menu"><img src="{% static 'images/admin24.png' %}"><a onclick="mostrar('modal_fullscreen')" href="/jasmine/viewlogs/*user*/*action*/*host*/">Visualizador de Logs</a></div>
							</div>
						</div>
					</li>
				{%else%}
					<li> 
						<a href="/{{ request.session.url|get_at_index:forloop.counter0 }}">
							<div class="item-menu">
								<img src="{% static 'images/'%}{{request.session.img|get_at_index:forloop.counter0}}"  alt="" />
								<p>{{item}}</p>
							</div>
						</a>
					</li>
				{%endif%}
			{%endfor%}
		{%endif%}
	{%endif%}
{%endblock%}

{%block conteudo%}
	{% if not request.session.userl %}
		<meta http-equiv="refresh" content="0; url=/login/">
	{%else%}
		<div class="cartao">
			<img src="{% static 'images/config.png' %}" alt="" width="70"/>
			<h1>Painel Administrativo</h1>
			<br>
			<div class="navegation_bar">
				<a href="/jasmine/admin/">Administração</a>
			</div>
			<div class="box-file">
				<div class="box_folder">
					<a href="/jasmine/admin/digi" title="Abrir Configurações de Digitalizações">
						<div class="folder">
							<br><img src="{% static 'images/nuvemrede.png' %}" alt="" />
						</div>
						<p>Conf. de Digitalizações</p>
					</a>
				</div>
				
				<div class="box_folder">
					<a href="/jasmine/admin/ad" title="Abrir Configurações do Active Directory">
						<div class="folder">
							<br><img src="{% static 'images/shared-folder.png' %}" alt="" />
						</div>
						<p>Conf. do Active Directory</p>
					</a>
				</div>
				
				<div class="box_folder">
					<a href="/jasmine/admin/tutoriais/add" title="Abrir Criação de Tutoriais">
						<div class="folder">
							<br><img src="{% static 'images/tutorial.png' %}" alt="" />
						</div>
						<p>Criar Tutorial</p>
					</a>
				</div>
				
				<div class="box_folder">
					<a href="/jasmine/viewlogs/*user*/*action*/*host*/" title="Abrir Visualizador de Logs do Sistema">
						<div class="folder">
							<br><img src="{% static 'images/relogio.png' %}" alt="" />
						</div>
						<p>Visualizador de Logs</p>
					</a>
				</div>
			</div>
		</div>
		
		<div class="snackbar">
			{%if msg%}
				<div id="snackbar">
					{% if image_snack %}
						<img src="{% static 'images/'%}{{image_snack}}">
					{%else%}
						<img src="{% static 'images/sucesso.png' %}">
					{%endif%}
					<p>{{msg}}</p>
				</div>
				<script>
				    var x = document.getElementById("snackbar")
				    x.className = "show";
				    setTimeout(function(){ x.className = x.className.replace("show", ""); }, 4000);
				</script>
			{%endif%}
		</div>
	{%endif%}
{%endblock%}